<div class="container-fluid mt-5 justify-content-start">

  <div id="category-name" class="mb-5 fw-bold"></div>

  <div id="ads-page-container" class="row">
    <!-- Sidebar: Categories -->
    <nav id="category-container" class="col-md-3 mb-4">
      <div class="bg-light rounded p-3 w-100 h-auto">
        <h5 class="mb-3 fw-bold">Categories</h5>
        <ul class="list-group btn-group-vertical " id="category-list">
        </ul>
      </div>
    </nav>
    <div id="ads-container" class="col-md-9 mt-0">
    </div>
  </div>
</div>
