<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-secondary shadow">
  <div class=" container-fluid">
    <a class="navbar-brand fw-bold" href="/browse">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
        class="bi bi-house-door-fill me-2 align-middle" viewBox="0 0 16 16">
        <path
          d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.505A.5.5 0 0 0 9.5 15h-3a.5.5 0 0 0-.5-.5Z" />
        <path
          d="M7.293 1.5a1 1 0 0 1 1.414 0L11 3.793V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v3.793l2.146 2.147a.5.5 0 0 1-.708.708L13 8.207V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5V10.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5V8.207l-2.146 2.147a.5.5 0 0 1-.708-.708L7.293 1.5Z" />
      </svg>
      <span class="align-middle">Home</span>
    </a>

    <div class="d-flex ms-auto align-items-center">
      <a id="btn-post-ad" href="/post-ad" target="_blank" class="nav-link text-white me-4 d-flex align-items-center">
        <i class="bi bi-plus-circle me-1"></i>Post Ad
      </a>
      <a id="user-link" class="nav-link fw-semibold text-light me-3" href="/user">
      </a>
    </div>
  </div>

</nav>
